html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 16px;
}

* {
    font-family: sans-serif;
    margin: 0;
    border: 0;
}

p,
h3 {
    margin: none;
}

body {
    height: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 6rem 1fr;
}

.header-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.new-todo {
    font-size: 1.5rem;
    padding: .75rem 1.5rem;
    color: whitesmoke;
    background-color: rgb(41, 41, 41);
    border-radius: 6px;
    margin: .75rem 1.5rem;
    font-weight: bold;
}

.new-todo:hover {
    cursor:grab;
    background-color: gray;
}

.sidebar-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(233, 233, 233);
}

.todo-container {
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-radius: 10px;
    color: rgb(0, 31, 0);
}

.blue.todo {
    box-shadow: 0px 0px 20px -2px rgb(132, 140, 158);
}

.yellow.todo {
    box-shadow: 0px 0px 20px -2px rgb(158, 154, 132);
}

.red .todo {
    box-shadow: 0px 0px 20px -2px rgb(158, 134, 132);
}

.todo-header {
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0.5rem;
    align-items: center;
    position: relative;
}

.blue .todo-header {
    background-color: rgb(85, 127, 218);
    border: 2px solid rgb(0, 19, 128);
}

.yellow .todo-header {
    background-color: rgb(218, 209, 85);
    border: 2px solid rgb(128, 126, 0);
}

.red .todo-header {
    background-color: rgb(218, 94, 85);
    border: 2px solid rgb(128, 19, 0);
}

.active,
.completed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: min-content;
    align-items: start;
    gap: 1rem;
    padding: 0 1rem;
}

.todo-info {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.blue .todo-info {
    background-color: rgb(203, 207, 214);
    border: 2px solid rgb(0, 19, 128);
    border-top: none;
}

.yellow .todo-info {
    background-color: rgb(214, 212, 203);
    border: 2px solid rgb(128, 126, 0);
    border-top: none;
}

.red .todo-info {
    background-color: rgb(214, 204, 203);
    border: 2px solid rgb(128, 19, 0);
    border-top: none;
}

.collapsed .todo-info {
    display: none;
}

.collapsed .todo-header {
    border-radius: 10px;
}

.todo-info button {
    width: min-content;
}

#todo-completed {
    appearance: none;
}

#todo-completed:before {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 16px;
    content: '';
    border: 2px solid rgb(85, 127, 218);
    margin: 0 .75rem 0 .25rem;
}

.blue #todo-completed:before {
    border: 2px solid rgb(85, 127, 218);
}

.yellow #todo-completed:before {
    border: 2px solid rgb(218, 209, 85);
}

.red #todo-completed:before {
    border: 2px solid rgb(218, 94, 85);
}

#todo-completed:hover:before {
    border: 2px solid rgb(34, 182, 34);
    background-color: rgb(205, 238, 205);
    cursor: grab;
}

.toggle-info {
    background-color: inherit;
    position: absolute;
    right: .5rem;
    font-size: 1.5rem;
}

.toggle-info {
    transform: rotate(180deg);
}

.collapsed .toggle-info {
    transform: rotate(0deg);
}

.toggle-info:hover {
    cursor: grab;
}

dialog {
    width: max(50%, 40rem);
    margin-top: 4rem;
    justify-self: center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

dialog h2 {
    padding: 12px 0px 12px 12px;
    width: 100% - 12px;
    border-bottom: 2px solid black;
    background-color: lightgray;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

dialog form {
    width: 100%;
}

form {
    font-size: 1.2rem;
    text-align: center;
}

dialog .text-info {
    padding: 18px 12px 12px;
}

dialog .text-info,
dialog .text-info label {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

dialog .text-info label {
    margin-right: 6px;
}

dialog .text-info input,
dialog .text-info textarea {
    margin-left: 8px;
}

dialog #title {
    font-size: 1rem;
    outline: 1px solid black;
    border-radius: 2px;
    padding: 2px;
}

dialog #description {
    font-size: 1rem;
    outline: 1px solid black;
    border-radius: 2px;
    padding: 2px;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    flex: 2;
}

dialog .description {
    flex: 2;
    margin-left: 6px;
}

dialog .other-info {
    padding: 6px 12px 12px;
}

fieldset legend,
fieldset label,
fieldset div {
    float: left;
    font-size: 1.2rem;
}

fieldset {
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}

fieldset div {
    height: 100%;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 24px;
    margin: 1px 4px;
}

input[type="radio"]:hover {
    cursor: grab;
}

#blue {
    border: 4px solid blue;
    outline: 2px solid rgb(20, 0, 133);

}

#blue:checked {
    background-color: blue;
}

#yellow {
    border: 4px solid rgb(233, 233, 4);
    outline: 2px solid rgb(163, 160, 0);
}

#yellow:checked {
    background-color: rgb(233, 233, 4);
}

#red {
    border: 4px solid red;
    outline: 2px solid rgb(172, 0, 0);
}

#red:checked {
    background-color: red;
}

dialog .other-info {
    display: flex;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.226);
}

#due {
    font-size: 1.2rem;
    outline: 1px solid black;
    border-radius: 2px;
    margin-left: .25rem;
}

.due {
    display: flex;
    align-items: center;
}

.delete {
    position: relative;
    right: -17.6rem;
    background-color: inherit;
    font-size: 1rem;
    color: inherit;
}

.save-button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1rem;
    padding: .25rem .75rem;
    background-color: lightgray;
}

.save-button:hover {
    background-color: rgb(223, 223, 223);
    cursor: grab;
}